<%#=flash[:notice]%>

<!--<table>-->

<!--  <thead>-->

<!--  <th>firstname</th>-->

<!--  <th>lastname</th>-->

<!--  <th>email</th>-->

<!--  <th>phone</th>-->

<!--  <th>password</th>-->

<!--  </thead>-->

<!--  <tbody>-->

  <%#@users.each do |user|%>

<!--    <tr>-->

<!--      <td><%#=user.firstname %></td>-->

<!--      <td><%#=user.lastname%></td>-->

<!--      <td><%#=user.email%></td>-->

<!--      <td><%#=user.phone%></td>-->

<!--      <td><%#=user.password%></td>-->

<!--    </tr>-->

  <%#end%>

<!--  </tbody>-->

<!--</table>-->

<!--<div>-->

<!--  <h3> Import User Data </h3>-->

  <%#=form_tag import_users_path, multipart: true do %>

    <%#=file_field_tag :file%>

    <%#=submit_tag “Import CSV”%>

  <%#end%>

<!--  </div>-->