body{
    margin: 0;
}

.index-comment-color{
    color: #606165;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin: 25px 60px
}
.profile-pic> img{
    width: 56px;
    height: 56px;
    border-radius: 11px;
}
.profilePic-firstname{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:150px;
    /*border: 1px solid red;*/
}
.custom-text-styles{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #606165;
}
.post1 a{
    color: #606165;
    text-decoration: none;
}

/*NAVBAR START*/
.header{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
    height:100px;
    width: auto;
    /*padding: 20px 10px;*/
}

.header1{
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
}
.header2{
    margin: 25px;
}
.header2 input {
    padding: 0 10px;
    height: 50px;
    width: 500px;
    border-radius: 25px;
    background-color:#F5F6F8;;
    border: 0;

}
.header-text{
    font-size: 1.8rem;
}
.header-text a{
    text-decoration: none;
    color: #2E2F30;
}
/*NAVBAR END*/

/*MAIN START*/
.main{
    background: #F9FAFB;
    margin:auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 1099px;
    border: 1px solid #FFFFFF;
    border-radius: 14px;
}
/*MAIN END*/

/*POST START*/
.post1 {
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 1041px;
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    border-radius: 14px;
}
.post1-heading-dropdown {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #606165;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.align-text-right{
    padding: 0 10px;
}

.post-content{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #606165;
}

.dropdown-menu{
    display: flex;
}

.create-post-field{
    /*text-align: center;*/
}

.create-post-containerxx textarea{
    padding: 0 10px;
    border: none;
    background-color: #F5F6F8;;
    border-radius: 24px;
    width: 989px;
    height: 50px;
    font-size: 1.1rem;
}

.likes-comments-count{
    width: 150px;
    display: flex;
    justify-content: space-between;

}
.likes-comments{
    align-items: center;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.create-post-containerxx input{
    border: none;
    background-color: #377DFF;
    padding: 16px 32px;
    /*text-align: center;*/
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    /*padding: 0 10px;*/
    /*border: none;*/
    /*background-color: #F5F6F8;;*/
    /*border-radius: 24px;*/
    /*width: 989px;*/
    /*height: 50px;*/
}
.comment-input-box-sendbutton {
    padding: 0 20px;
    width: 1041px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.comment-input-box-sendbutton input{

    padding: 0 10px;
    border: none;
    background-color: #F5F6F8;
    border-radius: 24px;
    width: 932px;
    height: 46px;
}
.create-post-container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*height: 270px;*/
    /*width: 1041px;*/
    /*background: #FFFFFF;*/
    /*margin: 29px;*/
    border-radius: 14px;
    border: 1px solid #FFFFFF;


}
.create-post-containerxx{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 165px;
    width: 1041px;
    background: #FFFFFF;
    margin: 29px;
    border-radius: 14px;
    border: 1px solid #FFFFFF;
}

.create-post-containerxx> input {
    color: #2E2F30;
    background-color:  #F5F6F8;
    /*padding: 12px 12px;*/
    /*margin-left: 20px*/
    border-radius: 14px;
}
.likes-comments-container{
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.send-button{
    border: none;
    background-color: #377DFF;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
    border-radius: 10px;
}
.send-button:hover {
    background-color:#008CBA;
    color: white;
}
.live-photos-feelings-post-container{
    padding: 0 21px;
    display: flex;
    justify-content: space-between;
}
.live-photos-feelings-container{
    align-items: center;
    width:350px;
    display: flex;
    justify-content: space-around;
}


/*comments page css*/

.style-comments-view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.comments-page-likes-time{
    display: flex;
    flex-direction: column;
}

.adjustcommentlikes{
    margin: auto;
    /*border: 1px solid;*/
    width: 896px;
    display: flex;
    justify-content: space-between;
}






/*dropdown css*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
    display: flex;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -133px;
    top: 18px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/


/*left side navbar start*/
.leftside-navbar{
    display: flex;
    /*border: 1px solid red;*/
    position: absolute;
    height: 400px;
    top: 100px;
    width: 368px;
    flex-direction: column;
    align-items: center;
}
.leftside-navbar-feed {
    margin-bottom: 20px;
    display: flex;
    height: 59px;
    width: 239px;

    border-radius: 14px;
    align-items: center;
    color: #606165;
    justify-content: center;
}
.leftside-navbar-feed> :hover{
    height: 59px;
    width: 239px;
    background: #377DFF;
    color: #FFFFFF;
    border-radius: 14px
}
.leftside-navbar-feed p{
     font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.04em;
    margin-top: 0;
    margin-bottom: 0;
}
.bootstrap-button{
    width: 239px;
    height: 59px;
    margin: 0 0 20px 0;
}
.bootstrap-button> span{
    color: #606165;
}
.bootstrap-button> img{
    color: #606165;
}
/*left side navbar end*/


/*login page css start*/
.login-header{
    /*border: 1px solid red;*/
    width: 242px;
    display: flex;
    position: absolute;
    top: 1px;
    left: 0;
    justify-content: space-evenly;
    height: 79px;
    align-items: center;
}
.login-header> div{
    Font-weight: 700;
    font-size: 35.9403px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.login-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 767px;
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(42px);
    width: 458px;
    height: 646px;
    border-radius: 16px;
}
.email-label-input{
    margin: 30px;
}
.email-label-input> label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    letter-spacing: -0.02em;

    color: #F9FAFB;
}
.email-label-input> input{
    height: 48px;
    width: 358px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.password-label-input{
    margin: 30px;
}

.password-label-input> label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #F9FAFB;
}

.password-label-input> input{
    height: 48px;
    width: 358px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}
.remember-me{
    margin: 30px;
}
.remember-me> input{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
}
.remember-me> label{
    width: 105px;
    height: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.Log-in-button> input{
    width: 206px;
    height: 48px;
    left: 541px;
    top: 614px;
    background: #377DFF;
    border-radius: 5px;
    color: #FFFFFF;
}
.Log-in-button{
    margin: 30px;
}
.dont-have-account{
    color: #FFFFFF;
    margin: 0 190px 0 0;
}
.login-bg> img{
    width: 100%;
    height: 100vh;
}
.navbar-line{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 99px;
    background-image: linear-gradient(to right, #377DFF,#EFF5FF );
}
/*login page css end*/


/*signup page css start*/
.signup-div{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 425px;
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(42px);
    width: 1137px;
    height: 646px;
    border-radius: 16px;
}
.Sign-up-button{
    margin: 0 0px 0 330px;
}
.Sign-up-button> input{
    width: 206px;
    height: 48px;
    left: 541px;
    top: 614px;
    background: #377DFF;
    border-radius: 5px;
    color: #FFFFFF;
}

.name-lastname{
    display: flex;
    justify-content: flex-end;
}
.email-phone{
    display: flex;
    justify-content: flex-end;
}
.password-confirmPassword{
    display: flex;
    justify-content: flex-end;
}
.create-account-png{

    margin: 0 0 0 330px;
}
.bootstrap-button span a{
    color: #606165;
    text-decoration: none;
}
/*signup page css end*/