<!--navbar-->
<div class="header">
  <div class="header1" style=" width: 150px;display: flex;justify-content: space-around;align-items: center;margin: 25px;">
    <div class="">
      <%=image_tag('Vector.jpg')%>
    </div>
    <div class="header-text">
      <a href="http://localhost:3000/">Maze</a>
    </div>
  </div>
  <div class="header2">
    <form class="header-search" action="">
      <input class="header-input" type="search" placeholder="Search">

      <%#=image_tag('search.jpg')%>
    </form>
  </div>
  <div class="profilePic-firstname">
    <div class="profile-pic"><%= image_tag('dhawal.jpg') %></div> &nbsp;
    <div style="">
      <div> <span style="color: #606165;"><%= current_user.firstname %> <%= current_user.lastname %></span></div>
      <% if current_user.has_role? :admin %>
        <span style="font-family: 'Montserrat';color: rgba(96, 97, 101, 0.6);">Admin</span>
      <% end %>
    </div>



  </div>


</div>
<!--navbar end-->