<!--navbar-->
<div class="header">
  <div class="header1">
    <div class="">
      <%=image_tag('Vector.jpg')%>
    </div>
    <div class="header-text">
      <a href="http://localhost:3000/">Maze</a>
    </div>
  </div>
  <div class="header2">
    <form class="header-search" action="">
      <input class="header-input" type="search" placeholder="Search">

      <%#=image_tag('search.jpg')%>
    </form>
  </div>
  <div class="profilePic-firstname">
    <div>
      <%#= "(Admin)" if current_user.admin? %>
      <%= current_user.firstname %></div>
    <div class="profile-pic"><%= image_tag('dhawal.jpg') %>    </div>
  </div>


</div>
<!--navbar end-->